
/* CSS for the Main Index */
/* */

h2 { font-size: 1.30em;
     border-bottom: 0px;
     padding-top: 0px;
     padding-bottom: 0px;
     margin-top: 0px;
     margin-bottom: 0px;
     }

a:link { text-decoration: underline;
         color: #8B0000;
         background: #fff;}

a:hover,
a:visited,
a:visited:hover,
a:link:hover {
      text-decoration: underline;
      color: #6E0000;
      background: #fff;                        
                 }

.contrib-legend{
       float:right}

.contrib-legend .legend{
                         position:relative;
                         bottom:-1px;
                         display:inline-block;
                         margin:0 5px;
                         list-style:none}

.contrib-legend .legend li{
                            display:inline-block;
                            width:10px;
                            height:10px}

