/* Colors for org tags -- should match keywords in issue tracker */

/* When org exports tags they are wrapped in a span which has the .tag */
/* class, which is wrapped in a span with a class named after itself */
/* If there is a @ in the tag name, it is replaced by a _ */

/* Teams ---------------------------------*/
.tag span.Backend,
.tag span.Frontend,
.tag span.UI,
.tag span.Infra,
.tag span.Wetlab,
.tag span.Hardlab,
.tag span.Softlab  { background: #5CB85C; }

/* Type ----------------------------------*/
.tag span.Critical { background: #f04444; }
.tag span.Bug      { background: #F0AD4E; }
.tag span.Feature  { background: #337AB7; }
.tag span.Wish     { background: #ec84f5; }
.tag span.Moonshot { background: #34495E; }

/* Workflow-Kanban -----------------------*/
.tag span.PLAN     { background: #A8D695; }
.tag span.NEXT     { background: #0033CC; }
.tag span.WORK     { background: #BFCC00; }
.tag span.DONE     { background: #69D100; }

/* Priority ------------------------------*/
.tag span.A        { background: #f04444; }
.tag span.B        { background: #F0AD4E; }
.tag span.C        { background: #5BC0DE; }

/* Organization --------------------------*/

/* Projects ------------------------------*/


background: #D9534F; /*Danger*/
background: #5BC0DE; /*Info*/
background: #F0AD4E; /*Warning*/
background: #5CB85C; /*Teams*/
background: #5843AD; /*Info*/
background: #69D100; /*DONE*/
background: #ec84f5; /*Wish*/
background: #34495E; /*Moonshot*/


.tag span.    { background: ;}
.tag span.    { background: ;}
.tag span.    { background: ;}
.tag span.    { background: ;}
